/* ..........for sm device..........  */
@media (max-width: 575.98px) {
  /*............. hadder part starting.... */

  .nav_mid_options {
    margin-top: 35px;
    align-items: center;
    gap: 28px;
  }
  .nav_right_options {
    gap: 32px;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }
  /*............. hadder part endijng.... */
  /*............. banner part starting.... */

  #banner {
    position: relative;
  }
  .banner_img {
    width: 245%;
    position: absolute;
    z-index: -1;
    height: 112%;
  }
  .banner_left h1 {
    font-size: 49px;
    width: 332px;
    margin-bottom: 36px;
    margin-top: 36px;
  }
  .banner_left .shop_now_button {
    font-size: 21px;
    width: 150px;
    padding: 14px 20px;
  }

  .banner_left h3 {
    font-weight: 500;
    width: 100%;
    margin-top: 50px;
  }
  .banner_logos {
    margin-top: 82px;
  }
  /*............. banner part ending.... */
  /*............. learn More  part starting.... */
  #learn_more {
    padding-bottom: 54px;
  }
  .learnMore_div {
    gap: 45px;
    flex-direction: column;
  }
  .learnMore_div p {
    width: 100%;
  }
  .learnMore_div h2 {
    width: 100%;
  }
  .learn_more_buton {
    margin-top: 43px;
  }
  #everything_together h2 {
    margin-top: 24px;
  }
  /*............. learn More  part ending.... */
  /*............. best seller part starting.... */

  #best_seller {
    padding-top: 40px;
  }
  #best_seller .text h3 {
    text-align: center;
  }
  #best_seller .text h2 {
    font-size: 40px;
    width: 100%;
  }
  .see-all-btn {
    margin-left: 31%;
  }
  .slider_img {
    width: 195px;
  }
  .img_p {
    width: 180px;
  }
  .img_p p {
    font-size: 14px;
    font-weight: 400;
  }
  /*............. best seller  part ending.... */
  /*............. reviews  part starting.... */
  #reviews {
    padding-top: 70px;
    /* padding-bottom: 50px; */
  }
  .reviews_div {
    flex-direction: column;
    gap: 53px;
  }
  .reviews_div .reviews_right h2 {
    font-size: 24px;
    width: 100%;
    margin-bottom: 29px;
  }
  .review_img_div {
    gap: 22px;
    margin-top: 30px;
  }
  /*............. reviews part ending.... */
  /*............. inspired part starting.... */
  .inspired_bg .content {
    padding: 6px 0 0 6px;
  }
  .inspired_bg {
    height: 400px;
  }
  .inspired_bg .content h2 {
    font-size: 32px;
    width: 100%;
  }
  .inspired_bg .content p {
    margin-bottom: 16px;
    width: 100%;
  }
  /*............. inspired part ending.... */
  /*............. offers part starting.... */
  #offers {
    padding-bottom: 37px;
  }
  .offers_div {
    gap: 10px;
    flex-direction: column;
  }
  .offers_div h2 {
    font-size: 25px;
    width: 100%;
  }
  .offers_div .input_div {
    margin-top: 30px;
  }
  .offers_div .input_div .top {
    flex-direction: column;
    gap: 10px;
  }
  .input_div_Sm_BottomBorder {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #862020;
  }
  .offers_div .input_div .input_div_BottomBorder {
    display: none;
  }
  /*............. offers part ending.... */
  /*............. footer part starting.... */
  #footer {
    padding-top: 20px;
    padding-bottom: 36px;
  }
  .footer_div {
    flex-direction: column;
    gap: 10px;
  }
  .footer_div .mid_option {
    gap: 15px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  .footer_div .right_socials {
    gap: 40px;
    margin-top: 20px;
  }
  /*............. footer part ending.... */
}

/* ...........................................
...........................................
............................................
................md device.................. */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* .......navbar part start....  */

  .nav_mid_options {
    margin-top: 35px;
    align-items: center;
    gap: 28px;
  }
  .nav_right_options {
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }
  /* .......navbar part end....  */

  /* ............ banner part starting.... */

  #banner {
    position: relative;
  }
  .banner_img {
    width: 245%;
    position: absolute;
    z-index: -1;
    height: 116%;
  }
  .banner_left h1 {
    font-size: 60px;
    width: 390px;
    margin-top: 20px;
  }
  .banner_left .shop_now_button {
    font-size: 21px;
    width: 150px;
    padding: 14px 20px;
  }

  .banner_left h3 {
    font-weight: 500;
    width: 100%;
    margin-top: 50px;
  }
  .banner_logos {
    margin-top: 82px;
  }
  /*............. banner part ending.... */
  /*............. learn More  part starting.... */
  #learn_more {
    padding-bottom: 54px;
  }
  .learnMore_div {
    gap: 45px;
    flex-direction: column;
  }
  .learnMore_div p {
    width: 100%;
  }
  .learnMore_div h2 {
    width: 100%;
  }
  .learn_more_buton {
    margin-top: 43px;
  }
  #everything_together h2 {
    margin-top: 24px;
  }
  /*............. learn More  part ending.... */
  /*............. best seller part starting.... */

  #best_seller {
    padding-top: 40px;
  }
  #best_seller .text h3 {
    text-align: center;
  }
  #best_seller .text h2 {
    font-size: 40px;
    width: 100%;
  }
  .see-all-btn {
    margin-left: 38%;
  }
  .img_p {
    justify-content: start;
    gap: 140px;
  }
  /*............. best seller  part ending.... */
  /*............. reviews  part starting.... */
  #reviews {
    padding-top: 70px;
    /* padding-bottom: 50px; */
  }
  .reviews_div {
    flex-direction: column;
    gap: 53px;
  }
  .reviews_div .reviews_right h2 {
    font-size: 28px;
    width: 100%;
    margin-bottom: 29px;
  }
  .review_img_div {
    gap: 22px;
    margin-top: 30px;
  }
  /*............. reviews part ending.... */
  /*............. inspired part starting.... */
  .inspired_bg .content {
    padding: 6px 0 0 6px;
  }
  .inspired_bg {
    height: 400px;
  }
  .inspired_bg .content h2 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 21px;
  }
  .inspired_bg .content p {
    margin-bottom: 16px;
    width: 71%;
  }
  /*............. inspired part ending.... */
  /*............. offers part starting.... */
  #offers {
    padding-bottom: 37px;
  }
  .offers_div {
    gap: 10px;
    flex-direction: column;
  }
  .offers_div h2 {
    font-size: 25px;
    width: 100%;
  }
  .offers_div .input_div {
    margin-top: 30px;
  }
  .offers_div .input_div .top {
    flex-direction: column;
    gap: 10px;
  }
  .input_div_Sm_BottomBorder {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #862020;
  }
  .offers_div .input_div .input_div_BottomBorder {
    display: none;
  }
  /*............. offers part ending.... */
  /*............. footer part starting.... */
  #footer {
    padding-top: 20px;
    padding-bottom: 36px;
  }
  .footer_div {
    flex-direction: column;
    gap: 10px;
  }
  .footer_div .mid_option {
    gap: 15px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
  .footer_div .right_socials {
    gap: 40px;
    margin-top: 20px;
  }
  /*............. footer part ending.... */
}

/* ...........................................
...........................................
............................................
................lg device.................. */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* .......navbar part start....  */

  .nav_mid_options {
    margin-top: 35px;
    align-items: center;
    gap: 28px;
  }
  .nav_right_options {
    gap: 48px;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }
  /* .......navbar part end....  */

  /* ............ banner part starting.... */

  #banner {
    position: relative;
  }
  .banner_img {
    width: 245%;
    position: absolute;
    z-index: -1;
    height: 140%;
  }
  .banner_left h1 {
    font-size: 65px;
    width: 410px;
    margin-top: 20px;
  }
  .banner_left .shop_now_button {
    font-size: 20px;
    width: 160px;
    padding: 14px 27px;
  }

  .banner_left h3 {
    font-weight: 500;
    width: 100%;
    margin-top: 50px;
  }
  .banner_logos {
    margin-top: 82px;
  }
  /*............. banner part ending.... */
  /*............. learn More  part starting.... */
  #learn_more {
    padding-top: 280px;
    padding-bottom: 54px;
  }
  .learnMore_div {
    gap: 45px;
    flex-direction: column;
  }
  .learnMore_div p {
    width: 100%;
  }
  .learnMore_div h2 {
    width: 100%;
  }
  .learn_more_buton {
    margin-top: 43px;
  }
  #everything_together h2 {
    margin-top: 24px;
  }
  /*............. learn More  part ending.... */
  /*............. best seller part ending.... */

  #best_seller {
    padding-top: 40px;
  }
  #best_seller .text h3 {
    text-align: center;
  }
  #best_seller .text h2 {
    font-size: 40px;
    width: 100%;
  }
  .see-all-btn {
    margin-left: 41%;
  }

  .img_p {
    justify-content: start;
    gap: 140px;
  }
  /*............. best seller  part ending.... */
  /*............. reviews  part starting.... */
  #reviews {
    padding-top: 70px;
    /* padding-bottom: 50px; */
  }
  .reviews_div {
    flex-direction: column;
    gap: 53px;
  }
  .reviews_div .reviews_right h2 {
    font-size: 28px;
    width: 100%;
    margin-bottom: 29px;
  }
  .review_img_div {
    gap: 22px;
    margin-top: 30px;
  }
  /*............. reviews part ending.... */
  /*............. inspired part starting.... */
  .inspired_bg .content {
    padding: 27px 0 0 32px;
  }
  .inspired_bg {
    height: 420px;
  }
  .inspired_bg .content h2 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 21px;
  }
  .inspired_bg .content p {
    margin-bottom: 16px;
    width: 71%;
  }
  /*............. inspired part ending.... */
  /*............. offers part starting.... */
  #offers {
    padding-bottom: 37px;
  }
  .offers_div {
    gap: 10px;
    flex-direction: column;
  }
  .offers_div h2 {
    font-size: 30px;
    width: 100%;
  }
  .offers_div .input_div {
    margin-top: 40px;
  }
  .offers_div .input_div .top {
    gap: 30px;
  }
  .input_div_Sm_BottomBorder {
    display: none;
  }
  .offers_div .input_div .input_div_BottomBorder {
    display: block;
    width: 64%;
    margin: 0 auto;
  }
  /*............. offers part ending.... */
  /*............. footer part starting.... */
  #footer {
    padding-top: 20px;
  }
  .footer_div {
    flex-direction: column;
    gap: 10px;
  }
  .footer_div .mid_option {
    gap: 30px;
    margin-top: 20px;
  }
  .footer_div .right_socials {
    gap: 10px;
    margin-top: 20px;
  }
  /*............. footer part ending.... */
}

/* ...........................................
...........................................
............................................
................xl device.................. */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* .......navbar part start....  */

  /* .......navbar part end....  */

  /* ............ banner part starting.... */

  #banner {
    position: relative;
  }
  .banner_img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 650px;
  }

  .banner_left .shop_now_button {
    font-size: 20px;
    width: 160px;
    padding: 14px 27px;
  }

  .banner_logos {
    margin-top: 82px;
  }
  /*............. banner part ending.... */
  /*............. learn More  part starting.... */
  #learn_more {
    padding-top: 60px;
    padding-bottom: 54px;
  }
  .learnMore_div {
    gap: 50px;
  }
  .learnMore_div p {
    font-size: 22px;
  }
  .learnMore_div h2 {
    font-size: 32px;
  }
  .learn_more_buton {
    margin-top: 40px;
  }
  /* ...........everything_together part starting............. */

  /* ..........everything_together part ending......... */

  /*............. learn More  part ending.... */
  /*............. best seller part ending.... */

  #best_seller {
    padding-top: 70px;
  }

  #best_seller .text h2 {
    font-size: 42px;
  }
  .slider_img {
    width: 290px;
  }
  .img_p {
    width: 80%;
    margin: 0 auto;
  }
  /*............. best seller  part ending.... */
  /*............. reviews  part starting.... */
  #reviews {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .reviews_div {
    gap: 103px;
  }

  .reviews_div .reviews_right h2 {
    font-size: 30px;
    width: 500px;
    margin-bottom: 29px;
  }
  .review_img_div {
    gap: 22px;
    margin-top: 30px;
  }
  /*............. reviews part ending.... */
  /*............. inspired part starting.... */
  .inspired_bg .content {
    padding: 27px 0 0 32px;
  }
  .inspired_bg {
    height: 420px;
  }
  .inspired_bg .content h2 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 21px;
  }
  .inspired_bg .content p {
    margin-bottom: 16px;
  }
  /*............. inspired part ending.... */
  /*............. offers part starting.... */
  #offers {
    padding-bottom: 37px;
  }
  .offers_div {
    gap: 50px;
  }
  .offers_div h2 {
    font-size: 30px;
    width: 500px;
  }
  .offers_div .input_div {
    margin-top: 40px;
  }
  .offers_div .input_div .top {
    gap: 30px;
  }
  .input_div_Sm_BottomBorder {
    display: none;
  }
  .offers_div .input_div .input_div_BottomBorder {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  /*............. offers part ending.... */
  /*............. footer part starting.... */
  #footer {
    padding-top: 35px;
    padding-bottom: 32px;
  }

  .footer_div .mid_option {
    gap: 40px;
  }
  .footer_div .right_socials {
    gap: 40px;
  }
  /*............. footer part ending.... */
}
/* .............................................
.............................................
..............................................
.........................xxl............................ */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* padding: 14px 41px; */

  /* .......navbar part start....  */

  /* .......navbar part end....  */

  /* ............ banner part starting.... */

  #banner {
    position: relative;
  }
  .banner_img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 650px;
  }

  .banner_left .shop_now_button {
    font-size: 20px;
    width: 188px;
    padding: 14px 41px;
  }

  .banner_logos {
    margin-top: 82px;
  }
  /*............. banner part ending.... */
  /*............. learn More  part starting.... */
  #learn_more {
    padding-top: 60px;
    padding-bottom: 54px;
  }
  .learnMore_div {
    gap: 50px;
  }
  .learnMore_div p {
    font-size: 22px;
  }
  .learnMore_div h2 {
    font-size: 32px;
  }
  .learn_more_buton {
    margin-top: 40px;
  }
  /* ...........everything_together part starting............. */

  /* ..........everything_together part ending......... */

  /*............. learn More  part ending.... */
  /*............. best seller part ending.... */

  #best_seller {
    padding-top: 70px;
  }

  #best_seller .text h2 {
    font-size: 42px;
  }
  .slider_img {
    width: 318px;
  }
  .img_p {
    width: 90%;
  }
  /*............. best seller  part ending.... */
  /*............. reviews  part starting.... */
  #reviews {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .reviews_div {
    gap: 133px;
  }

  .reviews_div .reviews_right h2 {
    font-size: 32px;
    width: 640px;
    margin-bottom: 49px;
  }
  .review_img_div {
    gap: 22px;
    margin-top: 30px;
  }
  /*............. reviews part ending.... */
  /*............. inspired part starting.... */
  .inspired_bg .content {
    padding: 57px 0 0 72px;
  }
  .inspired_bg {
    height: 620px;
  }
  .inspired_bg .content h2 {
    font-size: 48px;
    width: 100%;
  }
  .inspired_bg .content p {
    margin-bottom: 26px;
  }
  /*............. inspired part ending.... */
  /*............. offers part starting.... */
  #offers {
    padding-bottom: 47px;
  }
  .offers_div {
    gap: 180px;
  }
  .offers_div h2 {
    font-size: 30px;
    width: 670px;
  }
  .offers_div .input_div {
    margin-top: 40px;
  }
  .offers_div .input_div .top {
    gap: 30px;
  }
  .input_div_Sm_BottomBorder {
    display: none;
  }
  .offers_div .input_div .input_div_BottomBorder {
    width: 100%;
  }
  /*............. offers part ending.... */
  /*............. footer part starting.... */
  #footer {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .footer_div .mid_option {
    gap: 47px;
  }
  .footer_div .right_socials {
    gap: 50px;
  }
  /*............. footer part ending.... */
}
