/*.......... font familiy starting ...... */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Adamina&family=Belleza&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap");

/*.......... font familiy ending ...... */
/* .........common css starting....... */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
/* .........common css ending....... */

/* ........variable starting......... */
:root {
  --FontQuicksand: "Quicksand", sans-serif;
  --FontBelleza: "Belleza", sans-serif;
  --FontAdamina: "Adamina", serif;
  --FontAbel: "Abel", sans-serif;
  --FontLora: "Lora", serif;
}
/* ..........variable ending......... */
/* ......navbar starting...... */
.main_nav {
  padding: 28px 0;
  justify-content: center;
}
.nav_mid_options {
  gap: 45px;
}
.nav_logo {
  padding: 0;
  margin: 0;
  width: 123px;
}
.nav_mid_options li a {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontQuicksand);
  padding: 0 !important;
}
.nav_right_options {
  gap: 33px;
}
.nav_right_options li a {
  padding: 0 !important;
  height: 24px;
  width: 24px;
}
/* ......navbar starting...... */
/* ........banner starting.......  */
#banner {
  position: relative;
  padding-bottom: 82px;
}
.banner_left h1 {
  font-size: 86px;
  font-weight: 400;
  font-family: var(--FontBelleza);
  width: 532px;
  color: #010101;
  margin-bottom: 52px;
}
.banner_left .shop_now_button {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  text-transform: capitalize;
  width: 186px;
  color: #ffffff;
  background-color: #010101;
  padding: 14px 41px;
  border-radius: 38px;
  position: relative;
  z-index: 1;
  transition: all 0.5s linear;
  overflow: hidden;
  border: 2px solid #010101;
}
.banner_left .shop_now_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3%;
  height: 100%;
  border: 1px solid;
  border-radius: 38px;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.5s linear;
}
.banner_left .shop_now_button:hover {
  color: #010101;
}
.banner_left .shop_now_button:hover::before {
  width: 106%;
}

.banner_left h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  width: 320px;
  color: #000000;
  margin-top: 78px;
}
.banner_left p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
  margin-top: 33px;
  margin-bottom: 62px;
}
.banner_logos {
  display: flex;
  gap: 136px;
}
.banner_logos .bloom {
  width: 144px;
}
.banner_logos .forbes {
  width: 115px;
}

.banner_img {
  width: 1232px;
  height: 750px;
  position: absolute;
  top: 0;
  right: 0;
}
/* ..........banner ending............. */

/* ...........learn more starting..........  */
#learn_more {
  padding-top: 130px;
  padding-bottom: 153px;
}
.learnMore_div {
  display: flex;
  gap: 135px;
}
.learnMore_div p {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--FontAbel);
  width: 453px;
  color: #000000;
}
.learnMore_div h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: var(--FontLora);
  width: 627px;
  color: #000000;
}

.learn_more_buton {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.learn_more_buton {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 66px;
}

.learn_more_buton p {
  margin: 0;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}

.learn_more_buton::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.learn_more_buton p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.learn_more_buton:hover::after {
  width: 100%;
}

.learn_more_buton:hover p::before {
  width: 100%;
}

.learn_more_buton:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.learn_more_buton svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ...........learn more ending..........  */
/* ...........everything_together part starting............. */
#everything_together {
  position: relative;
  padding-bottom: 50px;
}
#everything_together .bgColor {
  position: absolute;

  left: 0;
  right: 0;
  top: 43%;
  bottom: 0;
  z-index: -1;
  background-color: #ededed;
}
#everything_together h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--FontLora);
  text-align: center;
  margin-top: 61px;
}
/* ..........everything_together part ending......... */
/* ..............best seller starting............. */
#best_seller {
  padding-top: 114px;
}
#best_seller .text h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}
#best_seller .text h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  width: 540px;
  margin-top: 34px;
  margin-bottom: 48px;
}

.see-all-btn {
  font-size: 15px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  --width: 150px;
  --timing: 2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  width: 134px;
  height: 42px;
  color: #ffffff;

  background: black;
  transition: all 0.2s;
  border-radius: 29px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-left: 0;
  position: relative;
  z-index: 1;
}

.see-all-btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
  );
  animation: var(--timing) linear dance6123 infinite;
  transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
  to {
    background-position: var(--width);
  }
}
.slider_img {
  width: 368px;
}
.img_p {
  width: 368px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.img_p p {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}

/* ..............best seller ending............. */
/* ..............reviews starting............. */
#reviews {
  padding-top: 161px;
  padding-bottom: 50px;
}
.reviews_div {
  display: flex;
  gap: 183px;
}
.reviews_div .reviews_left h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
  margin-bottom: 23px;
}
.reviews_div .reviews_left .para {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAbel);
  color: #000000;
  margin-bottom: 10px;
}
.reviews_div .reviews_left .star_rate {
  display: flex;
  gap: 17px;
  margin-bottom: 15px;
}
.reviews_div .reviews_left .star_rate .star {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #deec3c;
}
.reviews_div .reviews_left .star_rate .rating {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAbel);
  color: #000000;
}
.reviews_div .reviews_left .review_counts {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}
.reviews_div .reviews_right h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  width: 676px;
  margin-bottom: 59px;
}
.reviews_div .reviews_right h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  margin-bottom: 11px;
}
.reviews_div .reviews_right p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAbel);
  color: #000000;
}
.review_img_div {
  display: flex;
  gap: 60px;
  margin-top: 54px;
}
.review_img_div .pic_left {
  width: 500px;
}
.review_img_div .pic_right {
  width: 780px;
}
/* ..............reviews ending............. */
/* ..............inspired starting............. */
#inspired {
  padding-bottom: 50px;
}
.inspired_bg {
  background-image: url(../images/Frame36.png);
  height: 746px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* overflow: hidden; */
}
.inspired_bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 46, 46, 0.082);
  z-index: 1;
}

.inspired_bg .content {
  position: relative;
  z-index: 2;
  padding: 72px 0 0 116px;
}
.inspired_bg .content h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  margin-bottom: 9px;
  width: 401px;
}
.inspired_bg .content p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAbel);
  color: #000000;
  margin-bottom: 7px;
  width: 286px;
}

/* General Button Styling */
.custom-btn {
  width: 180px;
  height: 40px;
  cursor: pointer;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  position: relative;
}

/* Text styling */
.custom-btn .text,
.custom-btn .clone {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  display: flex;
  gap: 4px;
  color: black;
  position: relative;
}

.custom-btn .clone {
  position: absolute;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.3s ease;
}

.custom-btn:hover .clone {
  opacity: 1;
  transform: translateY(0px);
}

.custom-btn .text {
  position: absolute;
  transition: all 0.3s ease;
}

.custom-btn:hover .text {
  transform: translateY(-60px);
}

/* Icon Wrapper */
.icon-wrapper {
  width: 24px;
  height: 24px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 145px;
  margin-top: 3px;
}
.custom-btn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: 0px;
  background: black;
  height: 2px;
  transition: 0.3s ease-out;
}
.custom-btn:hover:after {
  width: 100%;
}
/* Arrow SVG */
.icon {
  width: 14px;
  height: 14px;
  stroke: white;
  transition: transform 0.3s ease;
}

.custom-btn:hover .icon {
  transform: rotate(-90deg);
}

/* ..............inspired ending............. */
/* ..............offers starting............. */
.offers_div {
  display: flex;
  gap: 200px;
}
.offers_div h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  width: 706px;
}
.offers_div .input_div {
  margin-top: 70px;
}
.offers_div .input_div .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.offers_div .input_div .text {
  width: 220px;
  height: 50px;
  padding: 2px 6px;
  border: none;
}
.offers_div .input_div .text::placeholder {
  font-size: 16px;
  font-family: 400;
  font-family: var(--FontAbel);
  color: #000000;
}
.offers_div .input_div .input_div_BottomBorder {
  width: 100%;
  height: 2px;
  background-color: #862020;
}
/* From Uiverse.io by KINGFRESS */
.offers_div .input_div .sub_button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 10px;
  border: none;
  width: 128px;
  border-radius: 26px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.sub_button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: 0.6s ease;
}

.sub_button span:nth-child(6) {
  position: relative;
}

.sub_button span:nth-child(1) {
  transform: translate(-3.3em, -4.5em);
}

.sub_button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.sub_button span:nth-child(3) {
  transform: translate(-0.2em, 1.8em);
}

.sub_button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.sub_button span:nth-child(5) {
  transform: translate(3.5em, -4.4em);
}

.sub_button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

/* ..............offers ending............. */
