/*.......... font familiy starting ...... */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Adamina&family=Belleza&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap");

/*.......... font familiy ending ...... */
/* .........common css starting....... */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
/* .........common css ending....... */

/* ........variable starting......... */
:root {
  --FontQuicksand: "Quicksand", sans-serif;
  --FontBelleza: "Belleza", sans-serif;
  --FontAdamina: "Adamina", serif;
  --FontAbel: "Abel", sans-serif;
  --FontLora: "Lora", serif;
}
/* ..........variable ending......... */
/* ......navbar starting...... */
.main_nav {
  padding: 28px 0;
  justify-content: center;
}
.nav_mid_options {
  gap: 45px;
}
.nav_logo {
  padding: 0;
  margin: 0;
  width: 123px;
}
.nav_mid_options li a {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontQuicksand);
  padding: 0 !important;
}
.nav_right_options {
  gap: 33px;
}
.nav_right_options li a {
  padding: 0 !important;
  height: 24px;
  width: 24px;
}
/* ......navbar starting...... */
/* ........banner starting.......  */
#banner {
  position: relative;
  padding-bottom: 82px;
}
.banner_left h1 {
  font-size: 86px;
  font-weight: 400;
  font-family: var(--FontBelleza);
  width: 532px;
  color: #010101;
  margin-bottom: 52px;
}
.banner_left a {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  text-transform: capitalize;
  width: 186px;
  color: #ffffff;
  background-color: #010101;
  padding: 14px 41px;
  border-radius: 38px;
  position: relative;
  z-index: 1;
  transition: all 0.5s linear;
  overflow: hidden;
  border: 2px solid #010101;
}
.banner_left a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3%;
  height: 100%;
  border: 1px solid;
  border-radius: 38px;
  width: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.5s linear;
}
.banner_left a:hover {
  color: #010101;
}
.banner_left a:hover::before {
  width: 106%;
}

.banner_left h3 {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  width: 320px;
  color: #000000;
  margin-top: 78px;
}
.banner_left p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
  margin-top: 33px;
  margin-bottom: 62px;
}
.banner_logos {
  display: flex;
  gap: 136px;
}
.banner_logos .bloom {
  width: 144px;
}
.banner_logos .forbes {
  width: 115px;
}

.banner_img {
  width: 1232px;
  height: 750px;
  position: absolute;
  top: 0;
  right: 0;
}
/* ..........banner ending............. */

/* ...........learn more starting..........  */
#learn_more {
  padding-top: 130px;
  padding-bottom: 153px;
}
.learnMore_div {
  display: flex;
  gap: 135px;
}
.learnMore_div p {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--FontAbel);
  width: 453px;
  color: #000000;
}
.learnMore_div h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: var(--FontLora);
  width: 627px;
  color: #000000;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button {
  --primary-color: #111;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  margin-top: 66px;
}

button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}

button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

button p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

button:hover::after {
  width: 100%;
}

button:hover p::before {
  width: 100%;
}

button:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

button svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

/* ...........learn more ending..........  */
/* ...........everything_together part starting............. */
#everything_together {
  position: relative;
}
#everything_together .bgColor {
  position: absolute;

  left: 0;
  right: 0;
  top: 43%;
  bottom: 0;
  z-index: -1;
  background-color: #ededed;
}
#everything_together h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: var(--FontLora);
  text-align: center;
  margin-top: 61px;
}
/* ..........everything_together part ending......... */
/* ..............best seller starting............. */
#best_seller {
  padding-top: 114px;
}
#best_seller .text h3 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--FontAdamina);
  color: #000000;
}
#best_seller .text h2 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--FontLora);
  color: #000000;
  width: 540px;
  margin-top: 34px;
}
/* ..............best seller ending............. */
